<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846550601764-k4s2hmhkkmcan3fmjg5r56qnqvgnuls8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846550601764-k4s2hmhkkmcan3fmjg5r56qnqvgnuls8</string>
	<key>API_KEY</key>
	<string>AIzaSyAIRSSrsKIuA9s6oj2kWVLDKhkHLtrOlu8</string>
	<key>GCM_SENDER_ID</key>
	<string>846550601764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rentel.RentelReader.AuthAppleSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>authappleswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>authappleswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846550601764:ios:7a3621d55492bbb17f88b1</string>
</dict>
</plist>